$font-size-root:         1.6rem;

$fs-primary-font-xl: 30px;
$fs-primary-font-lg: 24px;
$fs-primary-font-md: 18px;
$fs-primary-font-sm: 16px;
$fs-primary-font-xs: 14px;

$fs-second-font-xl: 72px;
$fs-second-font-lg: 60px;
$fs-second-font-md: 50px;
$fs-second-font-sm: 40px;
$fs-second-font-xs: 32px;

$black-color: #000;

$ah: #D6BD6B;
$a: inherit;


$main:#231F20;
$sec:#F4F3EF;



$screenXXS:              0;
$screenXS:               576px;
$screenS:                767px;
$screenM:                992px;
$screenL:                1024px;
$screenXL:               1280px;
$screenXXL:              1440px;

$mobileWidth: 576px;
$portraitTabletWidth: 768px;
$middleTabletWidth: 992px;
$landscapeTabletWidth: 1024px;
$desktopWidth: 1280px;
$wideDesktopWidth: 1440px;




$primaryFont:         'futura-pt', sans-serif;
$secondFont:          'montserrat', sans-serif;