.header {
    position: absolute;
    width: 100%;
    padding-top: 40px;
    &__row {
        display: flex;
        align-items: center;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        margin-right: auto;
    }
    &__logo {
        margin-right: 96px;
        &-link {
            font-weight: 600;
            font-size: 40px;
            line-height: 46px;
        }
    }
    @media (max-width: 992px) {
        &__logo {
            margin-right: 50px;
        }
    }
    @include screenS() {
        padding-top: 10px;
        &__wrapper {
            flex-direction: column;
            align-items: flex-start;
        }
        &__logo {
            &-link {
                font-size: 24px;
                line-height: 32px;
            }
        }
    }
    @media (max-width: 576px) {
        &__btn {
            border: none;
            background: transparent;
            padding: 0;
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 18px;
        }
    }
    @media (max-width: 1366px) {
        .container {
            max-width: 1196px;
        }
    }
}
.nav-header {
    margin-right: auto;
    &__list {
        display: flex;
    }
    &__item {
        & + & {
            margin-left: 73px;
            @include screenL() {
                margin-left: 40px;
            }
            @include screenXS() {
                margin-left: 20px;
            }
        }
    }
    &__link {
        font-size: $fs-primary-font-lg;
        line-height: 130%;
        transition: $transition;
        &:hover {
            color: #265FF5;
        }
        @include screenXS() {
            font-size: $fs-primary-font-xs;
        }
    }
}
