include ../../components/ico/ico
include ../../components/btn/btn

header.header
	.container
		.header__row
			.header__wrapper
				.header__logo 
					a.header__logo-link nopreset
				nav.header__nav.nav-header
					ul.nav-header__list
						li.nav-header__item 
							a.nav-header__link(href="#") Кейсы 
						li.nav-header__item 
							a.nav-header__link(href="#") Услуги
						li.nav-header__item 
							a.nav-header__link(href="#") О нас
						li.nav-header__item 
							a.nav-header__link(href="#") Контакты 
			+btn('Заказать', 'header__btn header__btn--small')
