.full-screen 
    .container.full-screen__wrapper
        .full-screen__content 
        ul.full-screen__list 
            li.full-screen__list-item.fade 
                h1.full-screen__title Проектируем
            li.full-screen__list-item.fade
                h1.full-screen__title Разрабатываем
            li.full-screen__list-item.fade
                h1.full-screen__title Тестируем
        p.full-screen__text сайты, мобильные приложения, интернет-магазины и сложные системы для бизнеса