.full-screen {
    height: 100vh;

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &__list {
        height: 100%;
        padding-left: 15px;
    }

    &__text {
        font-size: $fs-primary-font-xl;
        line-height: 40px;
        max-width: 750px;
        margin-top: 63px;

        @include screenXXL() {
            font-size: $fs-primary-font-lg;
            line-height: 130%;
            max-width: 605px;
            margin-top: 26px;
        }

        @include screenL() {
            font-size: $fs-primary-font-md;
            line-height: 26px;
            max-width: 430px;
            margin-top: 16px;
        }

        @include screenS() {
            font-size: $fs-primary-font-sm;
            line-height: 22px;
            margin-top: 14px;
        }

        @include screenXS() {
            max-width: 270px;
        }
    }

    @include screenS() {
        height: auto;
        &__content {
            padding: 180px 0;
        }
        &__text {
            max-width: 350px;
        }
    }

    @include screenXS() {

        &__wrapper {
            justify-content: flex-start;
            padding-left: 14px;
        }

        &__content {
            padding: 120px 0 66px 0;
        }
    }
}
