// @font-face {
//     font-family: 'Arial';
//     src: url('../fonts/ArialMT.eot');
//     src: local('Arial'), local('ArialMT'),
//         url('../fonts/ArialMT.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/ArialMT.woff') format('woff'),
//         url('../fonts/ArialMT.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Arial';
//     src: url('../fonts/Arial-BoldMT.eot');
//     src: local('Arial Bold'), local('Arial-BoldMT'),
//         url('../fonts/Arial-BoldMT.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/Arial-BoldMT.woff') format('woff'),
//         url('../fonts/Arial-BoldMT.ttf') format('truetype');
//     font-weight: bold;
//     font-style: normal;
// }

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Book.eot');
    src: local('Futura PT Book'), local('FuturaPT-Book'),
        url('../fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Book.woff') format('woff'),
        url('../fonts/FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Demi.eot');
    src: local('Futura PT Demi'), local('FuturaPT-Demi'),
        url('../fonts/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Demi.woff') format('woff'),
        url('../fonts/FuturaPT-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

